<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/course.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top course-bg-primary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Students Managment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse course-nav-fix">
                <ul class="nav navbar-nav course-nav" style="color:white">


                    <li >
                        <div style="margin: 0px 5vw;height:40px; display: flex; align-items:center;justify-content:center;">
                            <div class="glyphicon glyphicon-th">
                                @Html.ActionLink("Class", "Index", "Classrooms")
                            </div>
                        </div>
                    </li>

                    <li>
                        <div style="margin: 0px 5vw;height:40px; display: flex; align-items:center;justify-content:center;">
                            <div class="glyphicon glyphicon-book">
                                @Html.ActionLink("Lezioni", "Index", "Lessons")
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <div style="margin: 0px 5vw;height:40px; display: flex; align-items:center;justify-content:center;">
                            <div class="glyphicon glyphicon-user">
                                @Html.ActionLink("Students", "Index", "Students")
                            </div>
                        </div>
                    </li>
                    
                    
                    <li >
                        <div style=" height:40px; display: flex; align-items:center;justify-content:center;">
                            <div class="glyphicon glyphicon-pencil">
                                @Html.ActionLink("Scheduler", "Index", "Scheduler")
                            </div>
                        </div>
                    </li>


           
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
  
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
